body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url(../assets/img/gold-gradient-main.jpg);
  background-size: cover;
}
.main-container .carousel-container {
  width: 40vw;
  height: auto;
}
.main-container .carousel-container .main-container-titulo h5 {
  text-align: center;
  color: #400101;
  font-size: 1.5rem;
}
.main-container .carousel-container .carousel-inner {
  border-radius: 15px;
  border-color: #D9B26A;
}
.main-container .radio-container .main-container-titulo {
  text-align: center;
  color: #400101;
  font-size: 1.5rem;
}
.main-container .radio-container .radio-imagen img {
  width: 30vw;
  border-radius: 15px;
  border-color: #D9B26A;
}

@media (min-width: 300px) and (max-width: 480px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .main-container .carousel-container {
    width: 80vw;
    padding-bottom: 10px;
  }
  .main-container .carousel-container .main-container-titulo h5 {
    text-align: center;
    color: #400101;
    font-size: 0.8rem;
  }
  .main-container .carousel-container .carousel-inner {
    border-radius: 10px;
  }
  .main-container .radio-container {
    width: 80vw;
  }
  .main-container .radio-container .main-container-titulo {
    text-align: center;
    color: #400101;
    font-size: 0.8rem;
  }
  .main-container .radio-container .radio-imagen img {
    width: 80vw;
    border-radius: 10px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main-container .carousel-container {
    width: 80vw;
    height: auto;
    padding-bottom: 20px;
  }
  .main-container .carousel-container .main-container-titulo h5 {
    text-align: center;
    color: #400101;
    font-size: 1.2rem;
  }
  .main-container .carousel-container .carousel-inner {
    border-radius: 15px;
    border-color: #D9B26A;
  }
  .main-container .radio-container {
    padding-top: 10px;
  }
  .main-container .radio-container .main-container-titulo {
    text-align: center;
    color: #400101;
    font-size: 1.2rem;
  }
  .main-container .radio-container .radio-imagen img {
    width: 80vw;
    border-radius: 15px;
    border-color: #D9B26A;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .main-container .carousel-container {
    width: 80vw;
    height: auto;
    padding-bottom: 30px;
  }
  .main-container .carousel-container .main-container-titulo h5 {
    text-align: center;
    color: #400101;
    font-size: 1.5rem;
  }
  .main-container .carousel-container .carousel-inner {
    border-radius: 15px;
    border-color: #D9B26A;
  }
  .main-container .radio-container {
    padding-top: 20px;
  }
  .main-container .radio-container .main-container-titulo {
    text-align: center;
    color: #400101;
    font-size: 1.5rem;
  }
  .main-container .radio-container .radio-imagen img {
    width: 80vw;
    border-radius: 15px;
    border-color: #D9B26A;
  }
}
@media (min-width) {
  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(../assets/img/gold-gradient-main.jpg);
    background-size: cover;
  }
  .main-container .carousel-container {
    width: 40vw;
    height: auto;
  }
  .main-container .carousel-container .main-container-titulo h5 {
    text-align: center;
    color: #400101;
    font-size: 0.8rem;
  }
  .main-container .carousel-container .carousel-inner {
    border-radius: 15px;
    border-color: #D9B26A;
  }
  .main-container .radio-container .main-container-titulo {
    text-align: center;
    color: #400101;
    font-size: 1.5rem;
  }
  .main-container .radio-container .radio-imagen img {
    width: 80vw;
    border-radius: 15px;
    border-color: #D9B26A;
  }
}

/*# sourceMappingURL=style-main-index.css.map */
